
        @font-face{
            font-family: 'JetBrains Mono';
            src: url('../fonts/JetBrainsMono-Regular.ttf');
        }
    
        * {
            font-family: 'JetBrains Mono' ;
        }

        .fa-trash-alt {
            cursor: pointer;
        }

        .line-through {
            text-decoration: line-through;
        }
        